@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --primary-color: #2eb872;
  --secondary-color: #006b36;
  --third-color: #e0610c;

  font-family: "Bai Jamjuree", sans-serif;
  /* background-color: aqua; */
  background-image: url(./images/home/body.img.png);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}